<!doctype html>
<html lang="en" ng-app=MsgApp>
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .messageEmptyMenu { font-size: 1.3em; font-weight: bold;color:red; border-size:1px; border-style:solid; border-color:red;}
      .messageResult { font-size: 1.3em; font-weight: bold;color:green; border-size:1px; border-style:solid; border-color:green}
      .messageNote { font-size: 1.0em; font-weight: color:gray; background-color:lightgray;}
    </style>
  </head>
<body>
   <div class="container" ng-controller=MsgController>
     <h1>Lunch Checker</h1>
         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model=menuList>
             <div class="form-group messageNote">**Note : "", "  ",,,,   are not consider as valid inputs</div>
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkList()">Check If Too Much</button>
         </div>
         <div class="form-group message{{stateOfBeingStatus}}">
           <!-- Your message can go here. -->
           {{stateOfBeing}}
         </div>
   </div>

</body>
</html>
